<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ajbtechnologies"
    android:versionCode="1"
    android:versionName="1.0" >


    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="22" />


    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.gm.permission.READ_GMAIL" />
    <uses-permission android:name="com.google.android.gm.permission.WRITE_GMAIL" />

    <application
        android:name="com.ajbtechnologies.Application"
        android:allowBackup="false"
        android:icon="@drawable/honeydewit_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/defaultTitle" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.ajbtechnologies.MainMenuActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity android:name="com.ajbtechnologies.CreateEditListsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            />
        <activity
            android:name="com.ajbtechnologies.calendar.ListEventsActivity"
            android:theme="@style/defaultTitle"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name="com.ajbtechnologies.CalculatorsActivity"
            android:theme="@style/calculatorStyle"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            />
        <activity android:name="com.ajbtechnologies.calendar.EventActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name="com.ajbtechnologies.calendar.CalendarActivity"
            android:theme="@style/defaultTitle"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name="com.ajbtechnologies.calendar.CustomRecurrenceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/defaultTitle"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name="com.ajbtechnologies.calculators.CalculateUnitActivity"
            android:theme="@style/calculatorStyle"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name="com.ajbtechnologies.calculators.CalculateActivity"
            android:theme="@style/calculatorStyle"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name="com.ajbtechnologies.ListsHomeActivity"
            android:theme="@style/defaultTitle"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName="com.ajbtechnologies.CreateEditListsActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ajbtechnologies.CreateEditListsActivity"/>
        </activity>
        <activity
            android:name="com.ajbtechnologies.ListHomeActivity"
            android:theme="@style/defaultTitle" android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
           />
        <activity
            android:name="com.ajbtechnologies.ListInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/defaultTitle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ajbtechnologies.ToDoItemActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/defaultTitle"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.ajbtechnologies.ItemActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/defaultTitle"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.ajbtechnologies.NotesActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/defaultTitle"
            android:parentActivityName="com.ajbtechnologies.MainMenuActivity"/>
        <activity
            android:name="com.ajbtechnologies.ImportInstructionsActivity"
            android:theme="@style/defaultTitle"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name="com.ajbtechnologies.ImportedListNameChoiceActivity"
             android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name="com.ajbtechnologies.SheetNameInputDialogActivity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name="com.ajbtechnologies.CheckBoxListActivity"
            android:theme="@style/defaultTitle"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name="com.ajbtechnologies.TextImportActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name="com.ajbtechnologies.ImportActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name="com.ajbtechnologies.ExcelImportActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name="com.ajbtechnologies.errorhandling.ExceptionActivity"
            android:label="@string/error"
            android:theme="@android:style/Theme.DeviceDefault.Dialog"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name="com.ajbtechnologies.ImportErrorActivity"
            android:theme="@style/defaultTitle"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name="com.ajbtechnologies.DrawNoteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/defaultTitle"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name="com.ajbtechnologies.ImageViewActivity"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name="com.ajbtechnologies.CalculatorsDialogActivity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <!-- Import Activities -->
        <activity
            android:name="com.ajbtechnologies.AttachmentProcessor"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/vnd.ms-excel" />
                <data android:pathPattern="/.*\\.xls" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <data android:pathPattern="/.*\\.xlsx" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/csv" />
                <data android:pathPattern="/.*\\.csv" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/plain" />
                <data android:pathPattern="/.*\\.txt" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/xml" />
                <data android:pathPattern="/.*\\.xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:pathPattern="/*.hdew" />
                <data android:mimeType="text/hdew" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/hdew" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>

        <service
            android:name="com.ajbtechnologies.services.DeleteListService"
            android:exported="false" />
        <service
            android:name="com.ajbtechnologies.services.ExcelImportService"
            android:exported="false" />
        <service
            android:name="com.ajbtechnologies.services.TextImportService"
            android:exported="false" />
        <service
            android:name="com.ajbtechnologies.services.UpdateRowNumService"
            android:exported="false" />
        <service
            android:name="com.ajbtechnologies.services.UpdateListsRowNumService"
            android:exported="false" />

        <activity
            android:name="com.ajbtechnologies.NoteImageActivity"
            android:theme="@style/defaultTitle"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_note_image">
        </activity>

    </application>

</manifest>
